In [13]:
import pandas as pd
from pymongo import MongoClient

import os
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
df = pd.read_csv("data.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:
data = df.to_dict("records")
data[0]

{'id': 1,
 'Gender': 'Male',
 'Age': 44,
 'Driving_License': 1,
 'Region_Code': 28.0,
 'Previously_Insured': 0,
 'Vehicle_Age': '> 2 Years',
 'Vehicle_Damage': 'Yes',
 'Annual_Premium': 40454.0,
 'Policy_Sales_Channel': 26.0,
 'Vintage': 217,
 'Response': 1}

In [ ]:
DB_NAME = os.getenv("DB_NAME")
COLLECTION_NAME = os.getenv("COLLECTION_NAME")
CONNECTION_URI = os.getenv("CONNECTION_URI")

Proj1 Proj1-Data mongodb+srv://mangesh13salunke:OqJmyDWNDAm1lVr8@cluster0.g737fvf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

In [16]:
client = MongoClient(CONNECTION_URI)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [17]:
rec = collection.insert_many(data)

In [19]:
type(rec)

pymongo.results.InsertManyResult